.btn {
  display: flex;
  width: fit-content;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.start{
    padding: 0.6em 1.2em;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-image: linear-gradient(135deg,#e64553,#8839ef);
    border-radius: 15px;
    box-shadow: #0003 0 2px 4px, #0000004d 0 7px 13px -3px, #fff3 0 -3px inset;
    transition: transform ease 0.5s;
    cursor: pointer;
}

.start:hover{
    transform: translate(2px , -5px);
}