.main {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0000004a 1px, transparent 0);
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.section-navigator {
  position: relative;
  bottom: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: #fcfcfd;
  color: #36395a;
  font-family: Montserrat, monospace;
  box-shadow: #2d234266 0 2px 4px, #2d23424d 0 7px 13px -3px,
    #d6d6e7 0 -3px inset;
  cursor: pointer;
  transition: transform ease 0.4s;
}

.btn svg {
  width: 24px;
  height: 24px;
}

.btn:hover {
  transform: translateY(-2px);
}

.section-navigator .btn {
  position: absolute;
  bottom: 10px;
}

.section-navigator > .preivous-button {
  left: 20px;
}

.section-navigator > .next-button {
  right: 20px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 3em;
}

.skills-section h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.add-skill-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
  background-color: #fcfcfd;
  box-shadow: #2d234266 0 2px 4px, #d6d6e7 0 -3px inset;
  border-radius: 4px;
  padding: 20px 25px;
}

.add-skill-form h2 {
  font-weight: 800;
  margin-bottom: 1em;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
}

.input-container label {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 1.3rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input-container label.active {
  bottom: 35px;
  font-size: 0.9rem;
  color: #00f;
}

.skill-form-btns{
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  gap: 1em;
}

.add-skill-btn {
  padding: 10px;
}
