.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 1.3rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.form-group label.active {
  bottom: 35px;
  font-size: 0.9rem;
  color: #00f;
}

label {
  font-size: 1.3rem;
  font-weight: 500;
  color: grey;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

input {
  width: 20em;
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 1.3rem;
  font-weight: 500;
}

input,textarea:focus {
  outline: none;
}

input:not(:placeholder-shown) {
  border-bottom: 2px solid #00f;
}

textarea:not(:placeholder-shown) {
  border-bottom: 2px solid #00f;
}

textarea {
  overflow: hidden;
  resize: none;
  border: none;
  border-bottom: 2px solid lightgray;
  font-weight: 500;
}