.history-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #fcfcfd;
  box-shadow: #2d234266 0 2px 4px, #d6d6e7 0 -3px inset;
  border-radius: 4px;
  padding: 16px;
}

.history-header {
  display: flex;
  justify-content: space-between;
}

.history-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e1e1e;
}

.delete-icon {
  width: 30px; 
  height: 30px; 
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 4px;
  box-shadow: #0000004a 0 3px 7px inset;
  cursor: pointer;
  transition: box-shadow ease 0.2s, transform ease 0.2s;
}

.delete-icon:hover {
  box-shadow: #2d234266 0 2px 4px, #2d23424c 0 7px 13px -3px,
    #d20f39 0 -3px inset;
  transform: translateY(-2px);
}

.history-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-organization{
    font-size: 1.1rem;
    font-weight: 800;
    color: #00f;
}

.history-duration,
.history-location {
  display: flex;
  gap: 10px;
  font-weight: 500;
}

.history-details {
  list-style-type: disc;
  margin: 0;
  padding-left: 1.7em;
  font-weight: 500;
}

.achievement {
  margin: 0.2em 0;
}
