.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 3em;
  width: 100%;
}

.skills-section h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.skills-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.add-skill-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
  background-color: #fcfcfd;
  box-shadow: #2d234266 0 2px 4px, #d6d6e7 0 -3px inset;
  border-radius: 4px;
  padding: 20px 25px;
}

.add-skill-form h2 {
  font-weight: 800;
  margin-bottom: 1em;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
}

.input-container label {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 1.3rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input-container label.active {
  bottom: 35px;
  font-size: 0.9rem;
  color: #00f;
}

.skill-form-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  gap: 1em;
}

.add-skill-btn {
  padding: 10px;
}
