.sidebar {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
}

.sections ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.sections ul li {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 14px 0;
  color: rgb(63, 63, 63);
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  transition: transform ease 0.2s;
}

.sections ul li:hover {
  transform: translateY(-2px);
  border-bottom: 1px solid black;
  color: black;
}

.sections ul li.active {
  transform: translateY(-2px);
  border-bottom: 2px solid black;
  color: black;
  font-weight: 500;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

.buttons .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: #fcfcfd;
  color: #36395a;
  font-family: Montserrat, monospace;
  box-shadow: #2d234266 0 2px 4px, #2d23424d 0 7px 13px -3px,
    #d6d6e7 0 -3px inset;
  cursor: pointer;
  transition: transform ease 0.4s;
}

.buttons .btn svg{
  width: 16px;
  height: 16px;
}

.buttons .btn:hover {
  transform: translateY(-2px);
}

.buttons .btn.view-cv-btn {
  background-image: linear-gradient(135deg, #e64553, #8839ef);
  color: #fff;
  box-shadow: #0003 0 2px 4px, #0000004d 0 7px 13px -3px, #fff3 0 -3px inset;
  grid-column: 1 / 3;
  visibility: hidden;
}

.buttons .btn.view-cv-btn.active {
  visibility: visible;
}